In [1]:
#
# Pandas tutorial - 3
#
# @author becxer
# @email becxer87@gmail.com
#
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

print ("modules successfully imported")

modules successfully imported

In [3]:
# IRIS 데이터를 불러온다
# IRIS 는 세가지꽃 (Sentosa, Versicolor, Virginica) 에 대한 꽃잎, 꽃받침 에 대한 측정 데이터 이다.
data = pd.read_csv('data/iris.csv')
data.head()

   species  sepal_length  sepal_width  petal_length  petal_width
0        0           4.9          3.0           1.4          0.2
1        1           6.2          2.2           4.5          1.5
2        2           6.7          2.5           5.8          1.8
3        0           5.1          3.8           1.9          0.4
4        1           6.0          2.7           5.1          1.6

In [5]:
# 데이터의 상관관계 구하기
data.corr()

               species  sepal_length  sepal_width  petal_length  petal_width
species       1.000000      0.782561    -0.419446      0.949043     0.956464
sepal_length  0.782561      1.000000    -0.109369      0.871754     0.817954
sepal_width  -0.419446     -0.109369     1.000000     -0.420516    -0.356544
petal_length  0.949043      0.871754    -0.420516      1.000000     0.962757
petal_width   0.956464      0.817954    -0.356544      0.962757     1.000000

In [6]:
# 데이터의 공분산 구하기
data.cov()

               species  sepal_length  sepal_width  petal_length  petal_width
species       0.671141      0.530872    -0.148993      1.371812     0.597987
sepal_length  0.530872      0.685694    -0.039268      1.273682     0.516904
sepal_width  -0.148993     -0.039268     0.188004     -0.321713    -0.117981
petal_length  1.371812      1.273682    -0.321713      3.113179     1.296387
petal_width   0.597987      0.516904    -0.117981      1.296387     0.582414

In [19]:
# 요소별 상관관계 확인을 위한 Onehot encoding
data["sentosa"] = data.species.map(lambda x :  1 if x == 0 else 0)
data["versicolor"] = data.species.map(lambda x :  1 if x == 1 else 0)
data["virginica"] = data.species.map(lambda x : 1 if x == 2 else 0)
data.head()

,species,sepal_length,sepal_width,petal_length,petal_width,sentosa,versicolor,virginica
0,0,4.9,3.0,1.4,0.2,1,0,0
1,1,6.2,2.2,4.5,1.5,0,1,0
2,2,6.7,2.5,5.8,1.8,0,0,1
3,0,5.1,3.8,1.9,0.4,1,0,0
4,1,6.0,2.7,5.1,1.6,0,1,0

In [22]:
# Sentosa 꽃의 공분산 확인
data[['sentosa','sepal_length','sepal_width','petal_length','petal_width']].corr()

               sentosa  sepal_length  sepal_width  petal_length  petal_width
sentosa       1.000000     -0.717416     0.595601     -0.922688    -0.887510
sepal_length -0.717416      1.000000    -0.109369      0.871754     0.817954
sepal_width   0.595601     -0.109369     1.000000     -0.420516    -0.356544
petal_length -0.922688      0.871754    -0.420516      1.000000     0.962757
petal_width  -0.887510      0.817954    -0.356544      0.962757     1.000000