In [8]:
#
# Pandas tutorial - 2
#
# @author becxer
# @email becxer87@gmail.com
# @reference python for data analysis by wes Mckinney
#
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

print ("modules successfully imported")

modules successfully imported

In [5]:
# Pandas 에는 Series 와 DataFrame 이라는 두가지 객체가 있다.
# Series 는 1차원 배열과 같은 것이다.
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
# 인덱스 마음대로 생성 가능함
obj2 = Series([4,7,-5,3], index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [9]:
# Numpy 연산이 가능함
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [19]:
# 사전 객체도 아래와같이 시리즈로 생성가능
dict_data = {'apple' : 1, 'banana' : 2, 'chicken' : 3}
obj3 = Series(dict_data)
obj3

apple      1
banana     2
chicken    3
dtype: int64

In [22]:
# Column 명에 명명을 해줄 수 있다
obj3.index.name = 'food'
obj3

food
apple      1
banana     2
chicken    3
dtype: int64

In [25]:
# range로 생성하기
obj_s = Series(range(4), index=['d','a','b','c'])
obj_s.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [29]:
# 아래처럼 2차원 배열로도 생성할수 있다
frame = DataFrame(np.arange(8).reshape((2,4)), index=['banana', 'apple'], columns=['d','a','b','c'])
frame

        d  a  b  c
banana  0  1  2  3
apple   4  5  6  7

In [30]:
# 인덱스로 정렬하기
frame.sort_index()

        d  a  b  c
apple   4  5  6  7
banana  0  1  2  3

In [31]:
# Column 축을 정렬하기
frame.sort_index(axis=1)

        a  b  c  d
banana  1  2  3  0
apple   5  6  7  4

In [36]:
# Column 값으로 정렬하기
frame.sort_values(by='b', ascending=False)

        d  a  b  c
apple   4  5  6  7
banana  0  1  2  3

In [38]:
# 합계 구하기
frame.sum(axis=1)

banana     6
apple     22
dtype: int64